@media screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
    }

    .sideImage {
        display: none;
    }

    .mobileImage {
        background-image: url(./images/image-product-mobile.jpg) no-repeat;
        display: block;
        height: auto;
        width: 50%;
        /* border-radius: 20px 20px 0 0; */
        object-fit: cover;
    } 

    .container {
        padding: 2rem;
        border: 1px solid hsl(30, 38%, 92%);
        border-radius: 20px;
        /* text-align: left; */
        display: block;
        height: auto;
        width: 60%;
        max-width: 100rem;
        margin: 2rem 2rem 2rem 2rem;
        /* overflow: hidden; */
        background-color: white;
        box-shadow: 10px 10px 90px grey;
    }

    .content {
        background-color: white;
        width: 100%;
        max-width: 100rem;
        /* padding: 2rem; */
        
    
    }
    
    
    .preview {
        margin-bottom: 1rem;
        color: hsl(228, 12%, 48%);
        /* letter-spacing: 1px; */
        background-color: white;
        font-size: 0.875rem;
    }
    
    .intro {
        margin-bottom: 1rem;
        background-color: white;
        font-family: Fraunces;
        
    }
    
    p {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        line-height: 1;
        background-color: white;
        font-weight: 500px;
        width: 100%;
    }
    
    
    
    .pricees {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
        background-color: white;
    }
    
    button {
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%) ;
        border: none;
        width: 15.625rem;
        height: 2.5rem;
        border-radius: 10px;
    }
    
    button:hover {
        cursor: pointer;
        background-color: darkgreen;
    }
    
    h3 {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        background-color: white;
        padding-top: 1px;
        padding-left: 2rem;
        font-size: 14px;
    }
    
    .price1 {
        background-color: white;
        color: hsl(158, 36%, 37%);
        font-family: Fraunces;
    }
    
    .cart {
        padding-right: 1.25rem;
    }
    
    


}